{include file="public/footer"}







<div id="mws-container" class="clearfix">
        
            <!-- Main Container -->
            <div class="container">
            
              <div class="mws-panel grid_8 mws-collapsible">
                    <div class="mws-panel-header">
                        <span class="mws-i-24 i-table-1">用户信息</span>
                    <div class="mws-collapse-button mws-inset"><span></span></div></div>
                    <div class="mws-panel-body">
                        <table class="mws-table">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>产品系列中文名</th>
                                    <th>产品系列英文名</th>
                                    <th>描述</th>
                                    <th>特色</th>
                                    <th>管理</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{foreach $data as $k=>$v}
                                <tr>
                                    <td>{$v['id']}</td>
                                    <td>{$v['cname']}</td>
                                    <td>{$v['yname']}</td>
                                    <td title="{$v['desc']}">{$v['desc']|substr=0,15}...</td>
                                    <td maxlength="55" title="{$v['tese']}">{$v['tese']|substr=0,40}...</td>
                                    <td><a href="#" class="mws-ic-16 ic-cross n" style="text-decoration: none;color: black;">&nbsp;&nbsp;&nbsp;&nbsp;delete|</a><input type="hidden" value="{$v['id']}" name=""><a href="/admin/cases/edit_series/id/{$v['id']}" style="text-decoration: none;color:red;" class="m">修改</a></td>
                                </tr>
                               {/foreach}
                               
                            </tbody>
                        </table>
                        {$data->render()}
                    </div>
                </div>
            </div>
            <!-- End Main Container -->
            
            <!-- Footer -->
           
            <!-- End Footer -->
            <script type="text/javascript">
                    $('.n').click(function(){
                        if(confirm('确认要删除吗？一经删除无法恢复')){
                        id = $(this).next().val();
                        $.ajax({
                            url:'/admin/cases/destroy',
                            type:'get',
                            async:false,
                            data:{'id':id},
                            success:function(msg){
                                if(msg == '1') {
                                    alert('删除成功');
                                }
                            }
                        })
                        $(this).parent().parent().remove();
                        }
                    })
                   
            </script>