{include file="public/footer"}

<div id="mws-container" class="clearfix">
        <div class="container">

		
		<div class="mws-panel grid_8">
                	<div class="mws-panel-header">
                    	<span class="mws-i-24 i-list">Inline Form</span>
                    </div>
                    <div class="mws-panel-body">
                    	<form class="mws-form" action="/admin/user/repassword" method="post" >
                    		<div class="mws-form-inline">
                    			
                    			<div class="mws-form-row">
                    				<label>oldpassword</label>
                    				<div class="mws-form-item medium">
                    					<input type="password" class="mws-textinput x" name="password" placeholder="旧密码">
                    				</div>
                    			</div>
                    			<div class="mws-form-row">
                    				<label>newpassword</label>
                    				<div class="mws-form-item medium">
                    					<input type="password" class="mws-textinput y" name="newpassword" placeholder="新密码">
                    				</div>
                    			</div>
                    			<div class="mws-form-row">
                    				<label>Confirm the password</label>
                    				<div class="mws-form-item medium">
                    					<input type="password" class="mws-textinput z" name="repassword" placeholder="确认密码"><span class="n"></span>
                    				</div>
                    			</div>
                    			</div>
                    		
                    			
                    		
                    			<input type="submit" value="Submit" class="mws-button red">
                    			<a class="mws-button blue" onclick="history.back();">返回</a>
                    			
                    		</div>
                    		</form>
                    </div>    	
                </div>
                <script type="text/javascript" src="/static/jquery-1.11.0.min.js"></script>
                <script type="text/javascript">

              	$('.red').click(function(){
              	if($('.x').val() == '')
                {
                	alert('请填写数据');
                	return false;
                }
                if($('.y').val() == '')
                {
                	alert('请填写数据');
                	return false;
                }
                if($('.z').val() == '')
                {
                	alert('请填写数据');
                	return false;
                }
              	if($('.y').val() != $('.z').val()) {
              			alert('sorry,密码不一致');
              			return false;
              	}
              	return true;
              	})
                </script>