
<!DOCTYPE html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<!-- Required Stylesheets -->
<link rel="stylesheet" type="text/css" href="/admin/css/reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/css/text.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/css/fonts/ptsans/stylesheet.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/css/fluid.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/admin/css/mws.style.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/css/icons/icons.css" media="screen" />

<!-- Demo and Plugin Stylesheets -->
<link rel="stylesheet" type="text/css" href="/admin/css/demo.css" media="screen" />

<link rel="stylesheet" type="text/css" href="/admin/plugins/colorpicker/colorpicker.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/jimgareaselect/css/imgareaselect-default.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/fullcalendar/fullcalendar.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/fullcalendar/fullcalendar.print.css" media="print" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/tipsy/tipsy.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/sourcerer/Sourcerer-1.2.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/jgrowl/jquery.jgrowl.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/plugins/spinner/spinner.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/admin/css/jui/jquery.ui.css" media="screen" />

<!-- Theme Stylesheet -->
<link rel="stylesheet" type="text/css" href="/admin/css/mws.theme.css" media="screen" />

<!-- JavaScript Plugins -->

<script type="text/javascript" src="/admin/js/jquery-1.7.1.min.js"></script>

<script type="text/javascript" src="/admin/plugins/jimgareaselect/jquery.imgareaselect.min.js"></script>
<script type="text/javascript" src="/admin/plugins/jquery.dualListBox-1.3.min.js"></script>
<script type="text/javascript" src="/admin/plugins/jgrowl/jquery.jgrowl.js"></script>
<script type="text/javascript" src="/admin/plugins/jquery.filestyle.js"></script>
<script type="text/javascript" src="/admin/plugins/fullcalendar/fullcalendar.min.js"></script>
<script type="text/javascript" src="/admin/plugins/jquery.dataTables.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="/admin/plugins/flot/excanvas.min.js"></script>
<![endif]-->
<script type="text/javascript" src="/admin/plugins/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="/admin/plugins/flot/jquery.flot.pie.min.js"></script>
<script type="text/javascript" src="/admin/plugins/flot/jquery.flot.stack.min.js"></script>
<script type="text/javascript" src="/admin/plugins/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/admin/plugins/colorpicker/colorpicker.js"></script>
<script type="text/javascript" src="/admin/plugins/tipsy/jquery.tipsy.js"></script>
<script type="text/javascript" src="/admin/plugins/sourcerer/Sourcerer-1.2.js"></script>
<script type="text/javascript" src="/admin/plugins/jquery.placeholder.js"></script>
<script type="text/javascript" src="/admin/plugins/jquery.validate.js"></script>
<script type="text/javascript" src="/admin/plugins/jquery.mousewheel.js"></script>
<script type="text/javascript" src="/admin/plugins/spinner/ui.spinner.js"></script>
<script type="text/javascript" src="/admin/js/jquery-ui.js"></script>

<script type="text/javascript" src="/admin/js/mws.js"></script>
<script type="text/javascript" src="/admin/js/demo.js"></script>
<script type="text/javascript" src="/admin/js/themer.js"></script>

<script type="text/javascript" src="/admin/js/demo.dashboard.js"></script>

<title>后台管理</title>

</head>

<body>

	<!-- Themer -->  
	
    <!-- Themer End -->
    

	<!-- Header Wrapper -->
	<div id="mws-header" class="clearfix">
    
    	<!-- Logo Wrapper -->
    	<div id="mws-logo-container">
        	<div id="mws-logo-wrap">
            	<h3 style="color:yellow">后台管理</h3>
			</div>
        </div>
        
        <!-- User Area Wrapper -->
        <div id="mws-user-tools" class="clearfix">
        
        	<!-- User Notifications -->
       
            <!-- User Messages -->
           
            <!-- User Functions -->
            <div id="mws-user-info" class="mws-inset">
            	<div id="mws-user-photo">
                	<img src="/admin/example/profile.jpg" alt="User Photo" />
                </div>
                <div id="mws-user-functions">
                    <div id="mws-username">
                        Hello, {$Think.session.username}
                    </div>
                    <ul>
                    	<li><a href="#">Profile</a></li>
                        <li><a href="#">Change Password</a></li>
                        <li><a href="/admin/login/logout">Logout</a></li>
                    </ul>
                </div>
            </div>
            <!-- End User Functions -->
            
        </div>
    </div>
    
    <!-- Main Wrapper -->
    <div id="mws-wrapper">
    	<!-- Necessary markup, do not remove -->
		<div id="mws-sidebar-stitch"></div>
		<div id="mws-sidebar-bg"></div>
        
        <!-- Sidebar Wrapper -->
        <div id="mws-sidebar">
        	
            <!-- Search Box 搜索-- >
        	<div id="mws-searchbox" class="mws-inset">
            	<form action="http://www.malijuwebshop.com/themes/mws-admin/dashboard.html">
                	<input type="text" class="mws-search-input" />
                    <input type="submit" class="mws-search-submit" />
                </form>
            </div>
            
            <!-- Main Navigation -->
            <div id="mws-navigation">
            	<ul>
                	
                	<li>
                    	<a href="#" class="mws-i-24 i-list">用户管理</a>
                        <ul>
                        	<li><a href="/admin/user/user_info">查看用户</a></li>
                        	<li><a href="#">添加用户信息</a></li>
                        </ul>
                    </li>
                	
                </ul>
            </div>
            <!-- End Navigation -->
            
        </div>
        
        
        <!-- Container Wrapper -->
        <!-- 中间的内容-->
        <!-- End Container Wrapper -->
        


            

   